src/main/app/primaveraesb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:oracle-primavera="http://www.mulesoft.org/schema/mule/oracle-primavera"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oracle-primavera http://www.mulesoft.org/schema/mule/oracle-primavera/current/mule-oracle-primavera.xsd">
	<flow name="primaveraesbFlow">
		<http:listener config-ref="HTTP_ESB_Configuration" path="/primavera/info"
			allowedMethods="GET" doc:name="HTTP" />
		<oracle-primavera:connect config-ref="PR6_Configuration"
			doc:name="OraclePrimavera" />
		<logger message="#[message.payloadAs(java.lang.String)]" level="INFO"
			doc:name="Logger" />
	</flow>
</mule>
